*{
box-sizing:border-box;
font-family:"comic sans ms";
}
h1{
color:black;
text-align:center;
position:relative;
}
.sec{
border:1px solid black;
position:relative;
background-color:#D3D3D3;
color:black;
}
h2{
text-align:center;
border:1px solid black;
width:100px;
color:black;
position:absolute;
top:0px;
right:0px;

margin-block-start:0px;
}
h2#chicken{
background-color:#FA8072;

}
h2#beef{
background-color:#B22222;
color:white;
}
h2#sushi{
background-color:#F0E68C;
}
@media (min-width: 992px){

section#l{
position:absolute;
top:87.68px;
right:65%;
left:1.5%;
width:30%;
float:left;
}
section#c{
position:absolute;
top:87.68px;
left:33%;
right:35%;
width: 30%;
}
section#r{
position:absolute;
top:87.68px;
left:65%;
float:right;
width: 30%;
right:1.5%;
}
}
@media (min-width: 768px) and (max-width: 991px){

section#l{
position:absolute;
float:left;
width:50%;
left:1.5%;
top:87.68px;
right:55%;
}
section#c{
position:absolute;
float:right;
width:50%;
right:1.5%;
top:87.68px;
left:55%;
}
section#r{
position:absolute;
width:100%;
left:1.5%;
right:1.5%;
top:70%;
}

}
@media (max-width: 767px){
section#l{
position:absolute;
width:100%;
top:90px;
left:40px;
right:40px;


}
section#c{
position:absolute;
width:100%;
top:350px;
left:40px;
right:40px;
float:center;
}
section#r{
position:absolute;
width:100%;
top:620px;
left:40px;
right:40px;
float:center;
}
}


*{
box-sizing:border-box;
font-family:"comic sans ms";
}
h1{
color:black;
text-align:center;
position:relative;
}
.sec{
border:1px solid black;
position:relative;
background-color:#D3D3D3;
color:black;
}
h2{
text-align:center;
border:1px solid black;
width:100px;
color:black;
position:absolute;
top:0px;
right:0px;

margin-block-start:0px;
}
h2#chicken{
background-color:#FA8072;

}
h2#beef{
background-color:#B22222;
color:white;
}
h2#sushi{
background-color:#F0E68C;
}
@media (min-width: 992px){

section#l{
position:absolute;
top:87.68px;
right:65%;
left:1.5%;
width:30%;
float:left;
}
section#c{
position:absolute;
top:87.68px;
left:33%;
right:35%;
width: 30%;
}
section#r{
position:absolute;
top:87.68px;
left:65%;
float:right;
width: 30%;
right:1.5%;
}
}
@media (min-width: 768px) and (max-width: 991px){

section#l{
position:absolute;
float:left;
width:50%;
left:1.5%;
top:87.68px;
right:55%;
}
section#c{
position:absolute;
float:right;
width:50%;
right:1.5%;
top:87.68px;
left:55%;
}
section#r{
position:absolute;
width:100%;
left:1.5%;
right:1.5%;
top:70%;
}

}
@media (max-width: 767px){
section#l{
position:absolute;
width:100%;
top:90px;
left:40px;
right:40px;


}
section#c{
position:absolute;
width:100%;
top:350px;
left:40px;
right:40px;
float:center;
}
section#r{
position:absolute;
width:100%;
top:620px;
left:40px;
right:40px;
float:center;
}
}


*{
box-sizing:border-box;
font-family:"comic sans ms";
}
h1{
color:black;
text-align:center;
position:relative;
}
.sec{
border:1px solid black;
position:relative;
background-color:#D3D3D3;
color:black;
}
h2{
text-align:center;
border:1px solid black;
width:100px;
color:black;
position:absolute;
top:0px;
right:0px;

margin-block-start:0px;
}
h2#chicken{
background-color:#FA8072;

}
h2#beef{
background-color:#B22222;
color:white;
}
h2#sushi{
background-color:#F0E68C;
}
@media (min-width: 992px){

section#l{
position:absolute;
top:87.68px;
right:65%;
left:1.5%;
width:30%;
float:left;
}
section#c{
position:absolute;
top:87.68px;
left:33%;
right:35%;
width: 30%;
}
section#r{
position:absolute;
top:87.68px;
left:65%;
float:right;
width: 30%;
right:1.5%;
}
}
@media (min-width: 768px) and (max-width: 991px){

section#l{
position:absolute;
float:left;
width:50%;
left:1.5%;
top:87.68px;
right:55%;
}
section#c{
position:absolute;
float:right;
width:50%;
right:1.5%;
top:87.68px;
left:55%;
}
section#r{
position:absolute;
width:100%;
left:1.5%;
right:1.5%;
top:70%;
}

}
@media (max-width: 767px){
section#l{
position:absolute;
width:100%;
top:90px;
left:40px;
right:40px;


}
section#c{
position:absolute;
width:100%;
top:350px;
left:40px;
right:40px;
float:center;
}
section#r{
position:absolute;
width:100%;
top:620px;
left:40px;
right:40px;
float:center;
}
}


*{
box-sizing:border-box;
font-family:"comic sans ms";
}
h1{
color:black;
text-align:center;
position:relative;
}
.sec{
border:1px solid black;
position:relative;
background-color:#D3D3D3;
color:black;
}
h2{
text-align:center;
border:1px solid black;
width:100px;
color:black;
position:absolute;
top:0px;
right:0px;

margin-block-start:0px;
}
h2#chicken{
background-color:#FA8072;

}
h2#beef{
background-color:#B22222;
color:white;
}
h2#sushi{
background-color:#F0E68C;
}
@media (min-width: 992px){

section#l{
position:absolute;
top:87.68px;
right:65%;
left:1.5%;
width:30%;
float:left;
}
section#c{
position:absolute;
top:87.68px;
left:33%;
right:35%;
width: 30%;
}
section#r{
position:absolute;
top:87.68px;
left:65%;
float:right;
width: 30%;
right:1.5%;
}
}
@media (min-width: 768px) and (max-width: 991px){

section#l{
position:absolute;
float:left;
width:50%;
left:1.5%;
top:87.68px;
right:55%;
}
section#c{
position:absolute;
float:right;
width:50%;
right:1.5%;
top:87.68px;
left:55%;
}
section#r{
position:absolute;
width:100%;
left:1.5%;
right:1.5%;
top:70%;
}

}
@media (max-width: 767px){
section#l{
position:absolute;
width:100%;
top:90px;
left:40px;
right:40px;


}
section#c{
position:absolute;
width:100%;
top:350px;
left:40px;
right:40px;
float:center;
}
section#r{
position:absolute;
width:100%;
top:620px;
left:40px;
right:40px;
float:center;
}
}


